<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        h2 {
            margin: 4px;
            font-size: 18px;
            font-weight: 500;
        }

        h1 {
            margin: 8px;
            font-size: 45px;
            font-weight: 500;
        }

        button {
            padding: 8px 12px;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        #count { background-color: #356ced; }
        #submit { background-color: #31a84b;}
    </style>
</head>
<body>
    <main>
        <h2> 클릭 시 숫자 증가 </h2>
        <h1 id="num"> 0 </h1>
        <button id="count"> 수 증가 </button>
        <button id="submit"> 전송 </button>
    </main>

    <script src="../static/index.js"></script>
</body>
</html>